<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>关于我们</title>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <link href="theme.css" rel="stylesheet">
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index">泉毓科技™医学影像智能分析系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="float: right;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">主页</a></li>
            <li><a href="/about">关于</a></li>
            <li><a href="/about">我的</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>泉毓™医学影像检测辅助系统</h1>
        <p>支持传统医学影像疾病检测，包括CT计算机断层扫描（结肠息肉、胸部）、心电图ECG信号处理分析、眼底病变图像识别，较高的筛出率可以极大减轻影像科室医生工作效率，提高病检效率</p>
      </div>

        <h2>团队简介</h2>
            <p class="jumbotron">我们来自齐鲁工业大学（山东省科学院）数学与统计学院，为了参与本次“超算杯”大数据智能大赛，我们组建起一支名为“泉毓”的队伍，朝着本次智能医疗领域进发。团队的名字有两层意思：“泉毓”谐音“痊愈”，意指希望不幸患病的人们都会慢慢痊愈，这也是表层意思。第二点拆解来看，“泉”指济南，“毓”本意是嫩苗嫩草遍地而起，引申为养育的意思，所以“泉毓”也指泉城济南养育了我们，团队生于泉诚，回报泉诚人民的意思。</p>
        <h2>产品简介</h2>
            <p>突如其来的新冠极大地影响了我们的生活，不论是本次的新冠状病毒的肆虐，还是其他疾病的猖獗，每当我们看到为了救死扶伤而始终奔赴到第一线的医生们，我们心里总有一种说不出的滋味，为此我们想借助本次比赛平台开发一些真正有意义的应用，泉毓团队由此诞生，我们希望借助AI的力量，借助知识的力量，去帮助医生减轻一点负担，去帮助病人减轻一点痛苦，哪怕是极少数...我们想要把众多AI对医学影像学的研究集成到系统中，落地到实践中，由于时间和精力的关系，本次比赛初赛我们只做了心电图的病检，其余的接口还都处于未接入状态。本产品最开始的愿景是将众多医学影响识别集成到系统中，然后帮助医生去读图像写报告，提高病人看病效率，数据上云，增加看病的便携性，进一步分析疾病的关联性等等...蓝图宏大，任重而道远！</p>

    </div>
    </body>
</html>
