<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>管理员登录</title>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <link href="theme.css" rel="stylesheet">
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index">泉毓科技™医学影像智能分析系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="float: right;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">主页</a></li>
            <li><a href="/about">关于</a></li>
            <li><a href="/about">我的</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>泉毓™医学影像检测系统管理员登录</h1>
      </div>
    <form class="form-horizontal" role="form" method="post" action="/admin2/">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">账号</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstname" name="userId" placeholder="请输入账号" style="width: 50%">
    </div>
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="lastname" name="passWd" placeholder="请输入密码" style="width: 50%">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">登录</button>
        <button type="submit" class="btn btn-default">取消</button>
    </div>
  </div>
        {% csrf_token %}
</form>

    </div>
    </body>
</html>